.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.widget-background {

    display: block;
    background-color: transparent;
    border: 2px solid lightblue;
}

.ss-widget-title-style1 {

    display: inline-block;
    background-color: lightblue;
    border: 1px solid lightblue;
    max-width: 100%;
    padding: 2%;
}
